<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submitPaginated"> Salvar
      </el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <!-- <el-row>
          <el-col :span="24">
            <el-form-item label="Id" prop="id">
              <el-input v-model="item.id" placeholder="ID"/>
            </el-form-item>
          </el-col>
        </el-row> -->
        <el-row>
          <el-col :span="18">
            <el-form-item label="Nome" prop="nome">
              <el-input v-model="item.nome" placeholder="Nome"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xs="24" :md="12">
            <el-form-item label="Estados" prop="estado_uf">
              <el-select v-model="item.estado_uf" placeholder="Selecionar">
                <el-option
                  v-for="estado in estados"
                  :key="estado.id"
                  :label="estado.nome"
                  :value="estado.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'cidade'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      estado_uf: ''
    },
    rules: {
      nome: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      estado_uf: [
        { required: true, message: 'Campo obrigatório.' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      estados: `uf/items`
    })
  },
  created() {
    this.findEstados()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .then(() => console.log(this.item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findEstados: `uf/find`
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
