<template>
  <!-- TIPOPESSOA
  1 - Indústria
  2 - Coordenador
  3 - Vendedor
  4 - Colaborador
  9 - Admin -->
  <div class="createPost-container">
    <el-form ref="dataForm" :model="person" :rules="rules" label-position="top">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="handleSubmit()"
      >Salvar</el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row :gutter="10">
          <el-col :span="10">
            <el-form-item label="Nome" prop="nome">
              <el-input v-model="person.nome" placeholder="Nome"/>
            </el-form-item>
          </el-col>
          <el-col :span="2" class="line"/>
          <el-col :span="10">
            <el-form-item label="CNPJ/CPF" prop="cnpjCpf">
              <el-input v-model="person.cnpjCpf" placeholder="CNPJ/CPF"/>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="10">
          <el-col :span="10">
            <el-form-item label="Telefone" prop="fone">
              <el-input v-model="contact.fone" placeholder="Telefone"/>
            </el-form-item>
          </el-col>
          <el-col :span="1" class="line"/>
          <el-col :span="10">
            <el-form-item label="Email" prop="email">
              <el-input v-model="contact.email" placeholder="Email"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xs="24" :md="12">
            <el-form-item label="Tipo Pessoa" prop="tipoPessoa">
              <el-select v-model="person.tipoPessoa" placeholder="Selecionar" @change="$refs['dataForm'].clearValidate()">
                <el-option label="Industria" value="1"/>
                <el-option label="Vendedor" value="3"/>
                <el-option label="Coordenador" value="2"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- INDUSTRIA -->
        <el-row v-if="person.tipoPessoa === '1'" :gutter="10">
          <el-col :span="6" :xs="12">
            <el-form-item label="Nome Fantasia" prop="nomeFantasia">
              <el-input v-model="industry.nomeFantasia" placeholder="Nome Fantasia"/>
            </el-form-item>
          </el-col>
          <el-col :span="6" :xs="12">
            <el-form-item label="Status" prop="status">
              <el-select v-model="industry.status" placeholder="Selecionar">
                <el-option label="Ativo" value="A"/>
                <el-option label="Inativo" value="I"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :xs="8">
            <el-form-item label="Numero Funcionarios" prop="numeroFuncionarios">
              <el-input-number v-model="industry.numeroFuncionarios" :min="0" placeholder="Numero Funcionarios"/>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- FIM INDUSTRIA -->

        <!-- COORDENADOR -->
        <el-row v-if="person.tipoPessoa === '2'" :gutter="20">
          <el-col :span="6" :xs="10">
            <el-form-item label="Vigencia Inicial" prop="dataVigenciaInicial">
              <el-date-picker v-model="manager.dataVigenciaInicial" format="dd/MM/yyyy" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :xs="10">
            <el-form-item label="Vigencia Final" prop="dataVigenciaFinal">
              <el-date-picker v-model="manager.dataVigenciaFinal" format="dd/MM/yyyy" />
            </el-form-item>
          </el-col>
        </el-row>
        <!-- FIM COORDENADOR -->

        <!-- VENDEDOR -->
        <el-row v-if="person.tipoPessoa === '3'" :gutter="20">
          <el-col :span="6" :xs="10">
            <el-form-item label="Vigencia Inicial" prop="dataVigenciaInicial">
              <el-date-picker v-model="vendor.dataVigenciaInicial" format="dd/MM/yyyy" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :xs="10">
            <el-form-item label="Vigencia Final" prop="dataVigenciaFinal">
              <el-date-picker v-model="vendor.dataVigenciaFinal" format="dd/MM/yyyy" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :xs="12">
            <el-form-item label="Coordenador" prop="coordenador_id">
              <el-select v-model="vendor.coordenador_id" placeholder="Selecionar">
                <el-option label="Coordenador 1" value="1"/>
                <el-option label="Coordenador 2" value="2"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- FIM VENDEDOR -->

        <el-row :gutter="10">
          <el-col :span="7" :xs="10">
            <el-form-item label="CEP" prop="cep">
              <el-input v-model="person.cep" placeholder="CEP" @blur="getAddresByCep"/>
            </el-form-item>
          </el-col>

          <el-col :span="7" :xs="14">
            <el-form-item label="Logradouro" prop="logradouro">
              <el-input v-model="person.logradouro" placeholder="Logradouro" disabled/>
            </el-form-item>
          </el-col>

          <!-- <el-col :span="10" :xs="10">
            <el-form-item label="Cidade" prop="cidade_id">
              <el-select v-model="person.cidade_id" placeholder="Selecionar cidade">
                <el-option
                  v-for="item in cidades"
                  :key="item.id"
                  :label="item.nome"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col> -->

          <el-col :span="7" :xs="12">
            <el-form-item label="Cidade" prop="cidade_id">
              <el-input v-model="person.cidade_id" placeholder="Cidade" disabled/>
              <!-- <option v-if="register.person.cidade_id > 0" :value="city.id">{{city.nome}}</option> -->
              <!-- <el-input v-if="register.person.cidade_id > 0" :value="city.id"  disabled/> -->
            </el-form-item>
          </el-col>

          <el-col :span="7" :xs="12">
            <el-form-item label="Bairro" prop="bairro">
              <el-input v-model="person.bairro" placeholder="Bairro" disabled/>
            </el-form-item>
          </el-col>

          <el-col :span="7" :xs="12">
            <el-form-item label="Complemento" prop="complemento">
              <el-input v-model="person.complemento" placeholder="Complemento"/>
            </el-form-item>
          </el-col>

          <el-col :span="7" :xs="12">
            <el-form-item label="Número" prop="numero">
              <el-input v-model="person.numero" placeholder="Numero"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="7" :xs="12">
            <el-form-item label="Estado" prop="estado_uf">
              <el-input v-model="person.estado_uf" placeholder="Estado" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
    <!-- <span>{{ person.estado_uf }}</span> -->
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import CepService from '@/api/CepService'

const MODULE_NAME = 'pessoa'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    person: {
      nome: '',
      cnpjCpf: '',
      cep: '',
      logradouro: '',
      numero: '',
      bairro: '',
      complemento: '',
      tipoPessoa: '1',
      password: '',
      cidade_id: '',
      estado_uf: ''
    },
    industry: {
      nomeFantasia: '',
      status: '',
      numeroFuncionarios: 1
    },
    contact: {
      nome: '',
      email: '',
      fone: ''
    },
    vendor: {
      coordenador_id: '',
      dataVigenciaInicial: '',
      dataVigenciaFinal: ''
    },
    manager: {
      dataVigenciaInicial: '',
      dataVigenciaFinal: ''
    },
    state: '', // não existe na tabela
    country: '', // Não existe na tabela
    city: {
      id: 0
    },
    rules: {
      nome: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      cnpjCpf: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      cep: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      logradouro: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      numero: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      bairro: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      cidade_id: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      estado_uf: [
        { required: true, message: 'Campo obrigatório.' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      // cidades: `cidade/items`
    })
  },
  created() {
    // this.findCidades()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((response) => {
          Object.assign(this.person, response.data.person)
          Object.assign(this.industry, response.data.industry)
          Object.assign(this.contact, response.data.contact)
          Object.assign(this.vendor, response.data.vendor)
          Object.assign(this.manager, response.data.manager)
        })
        .then(() => console.log(this.person))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      // findCidades: `cidade/find`,
      createAdmin: `pessoa/createAdmin`
    }),
    handleSubmit() {
      // this.parseCep()
      // this.$refs['dataForm'].clearValidate()
      if (this.person.tipoPessoa === '1') {
        this.rules = {
          ...this.rulesPessoa,
          ...this.rulesIndustria
        }
      } else {
        this.rules = {
          ...this.rulesPessoa
          // ...this.rulesVendedor
        }
      }
      // this.$refs['dataForm'].validate(valid => {
      //   if (valid) {
      this.createAdmin({
        person: this.person,
        contact: this.contact,
        industry: this.industry,
        vendor: this.vendor,
        manager: this.manager
      })
        .then(() => this.$notify({ title: 'Item atualizado', message: 'OK', type: 'success', duration: 2000 }))
        .then(() => this.$router.go(-1))
        .catch((err) => this.$notify({ title: 'Ocorreu um erro', message: err, type: 'error', duration: 2000 }))
      //   } else {
      //     this.$notify({ title: 'Revise os campos', message: 'Erro na validacao', type: 'error', duration: 2000 })
      //   }
      // })
    },
    getAddresByCep() {
      const response = CepService.get(this.person.cep)
      response
        .then(res => res.data)
        .then(cityApi => {
          this.state = cityApi.uf
          this.person.bairro = cityApi.bairro
          this.person.logradouro = cityApi.logradouro
          this.person.cidade_id = cityApi.localidade
          this.person.estado_uf = cityApi.uf
          this.country = 'Brasil'
        })
    },
    parseCep() {
      return this.cep.replace('-', '')
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';
</style>
