<template>
  <div>
    <el-button
      class="filter-item"
      style="margin-left: 0px; margin-bottom: 20px"
      type="success"
      icon="el-icon-edit"
      @click="$router.push(`new`)"
    >Novo</el-button>
    <hr>
    <el-row>
      <el-input
        v-model="query"
        placeholder="Pesquisar"
        style="width: 400px;"
        class="filter-item"
        @keyup.enter.native="handleSearch"
      />
      <!-- mudar tipo 1 para 2 dps dos teste -->
      <el-select v-if="typePerson !== 3 && typePerson !== 1" v-model="coordenadorGetSet" @change="handleFilterChange">
        <el-option
          v-for="item in coordenadores"
          :key="item.id"
          :label="item.nome"
          :value="item.id"
        />
      </el-select>
      <!-- mudar tipo 1 para 2 dps dos teste -->
      <el-select v-if="typePerson === 1" v-model="coordenadorGetSet" :placeholder="sessionPerson[1]" disabled @change="handleFilterChange">
        <!-- <el-option
          :key="sessionPerson[0]"
          :label="sessionPerson[1]"
          :value="sessionPerson[0]"
        /> -->
      </el-select>
      <!-- Colocar o tipo do admin e o tipo do coordenador -->
      <el-select v-if="typePerson === 1 || typePerson === 3" v-model="vendedorGetSet" @change="handleFilterChange">
        <el-option
          v-for="item in vendedores"
          :key="item.id"
          :label="item.nome"
          :value="item.id"
        />
      </el-select>
      <el-button
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleSearch"
      >Pesquisar</el-button>
    </el-row>
    <h3> Exibindo de {{ from }} a {{ to }} do total de {{ total }}</h3>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field"
        :label="field"
        :prop="field"
        sortable="custom"
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ scope.row[field] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Manutenção"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">editar</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.row)">remover</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
    <span>{{ coordenadores }}</span>
    <span>{{ sessionPerson }}</span>
  </div>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import user from '@/store/modules/user'

const MODULE_NAME = 'pessoa'
const crudStore = crudHelper(MODULE_NAME)

export default {
  props: ['fields'],
  data() {
    return {
      page: 1,
      query: '',
      coordenadorID: '',
      vendedorID: '',
      typePerson: {
        type: Number
      },
      idPerson: {
        type: Number
      },
      sessionPerson: []
    }
  },
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      vendedores: 'pessoa/vendedores',
      coordenadores: 'pessoa/coordenadores',
      vendedor: 'pessoa/vendedor',
      coordenador: 'pessoa/coordenador'
    }),
    vendedorGetSet: {
      get() {
        return this.vendedor
      },
      set(vendedor) {
        this.setVendedor(vendedor)
      }
    },
    coordenadorGetSet: {
      get() {
        return this.coordenador
      },
      set(coordenador) {
        this.setCoordenador(coordenador)
      }
    }
  },
  created() {
    this.findPaginated({ page: this.page })
    this.findVendedores()
    this.findCoordenadores()
  },
  mounted() {
    this.checkPerson()
    console.log('passei check person')
    // this.setManager()
    // console.log('passei set manager')
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapMutations({
      setVendedor: 'pessoa/SET_VENDEDOR',
      setCoordenador: 'pessoa/SET_COORDENADOR'
    }),
    ...mapActions({
      findVendedores: 'pessoa/findVendedores',
      findCoordenadores: 'pessoa/findCoordenadores'
    }),
    handleFilterChange() {
      this.findVendedores(this.coordenador.id)
    },
    handlePageChange(page) {
      this.page = page
      this.findPaginated({ page, name: this.query })
    },
    handleSearch() {
      this.page = 1
      this.findPaginated({ page: 1, name: this.query })
    },
    checkPerson() {
      // VENDEDOR É DO TIPO 3 | COORDENADOR É DO TIPO 2
      const infoUser = user.state.type
      const idPerson = user.state.idUser

      infoUser ? this.typePerson = parseInt(infoUser) : null
      idPerson ? this.idPerson = parseInt(idPerson) : null
      console.log('my id hoe ' + this.idPerson)

      this.setManager()
    },
    async setManager() {
      // this.sessionPerson.push(this.coordenadores[this.idPerson].id, this.coordenadores[this.idPerson].nome)
      await this.sessionPerson.push(this.coordenadores[0].id, this.coordenadores[0].nome)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
