<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"
      >Salvar</el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row>
          <el-col :span="16" :offset="1">
            <el-form-item label="Nome" prop="nome">
              <el-input v-model="item.nome" placeholder="nome"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xs="24" :md="12">
            <el-form-item label="Região" prop="regiao_id">
              <el-select v-model="item.regiao_id" placeholder="Selecionar Região">
                <el-option
                  v-for="regiao in regioes"
                  :key="regiao.id"
                  :label="regiao.nome"
                  :value="regiao.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'microRegiao'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      regiao_id: ''
    },
    rules: {
      nome: [{ required: true, message: 'Campo obrigatório.' }],
      regiao_id: [{ required: true, message: 'Campo obrigatório.' }],
      cidade_id: [{ required: true, message: 'Campo obrigatório.' }]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      regioes: `regiao/items`,
      cidades: `cidade/items`
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findRegioes: `regiao/find`,
      findCidades: `cidade/find`
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';
</style>
