<template>
  <div class="app-container">
    <h3>{{ $route.meta.title }}</h3>
    <list-table
      :fields="['id', 'quantidadeMaximaVideo', 'dataVigenciaInicial', 'dataVigenciaFinal','created_at', 'updated_at']"
    />
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default { components: { ListTable }}
</script>

