<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <!-- <list-table :fields="['id', 'descricao', 'status', 'created_at']"/> -->
    <list-table :fields="['status', 'nomeFantasia', 'numeroFuncionarios', 'pessoa_id']"/>
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>
