<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"> Salvar
      </el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row>
          <el-col :span="16">
            <el-form-item label="Descrição" prop="descricao">
              <el-input v-model="item.descricao" placeholder="Descrição"/>
            </el-form-item>
          </el-col>
          <el-col :span="16">
            <el-form-item
              prop="dataVigenciaInicio"
              label-width="200px"
              label="Data vigencia inicial:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaInicio"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione data e hora"
              />
            </el-form-item>
          </el-col>
          <el-col :span="16">
            <el-form-item
              label-width="200px"
              label="Data vigencia final:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaFinal"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione data e hora"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'categoria'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      descricao: '',
      dataVigenciaInicio: '',
      dataVigenciaFinal: ''
    },
    rules: {
      descricao: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      dataVigenciaInicio: [
        { required: true, message: 'Campo obrigatório.' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
