<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submitPaginated"
      >Salvar</el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row>
          <el-col :span="12">
            <el-form-item label="Descrição" prop="descricao">
              <el-input v-model="item.descricao" placeholder="Descrição do Curso"/>
            </el-form-item>
          </el-col>
          <el-col :span="1" class="line"/>
        </el-row>
        <el-row>
          <el-col :span="16">
            <el-form-item
              prop="dataVigenciaInicial"
              label-width="200px"
              label="Data vigencia inicial:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaInicial"
                format="dd-MM-yyyy"
                placeholder="Selecione data e hora"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16">
            <el-form-item
              label-width="200px"
              label="Data vigencia final:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaFinal"
                type="date"
                format="yyyy-MM-dd"
                placeholder="Selecione data e hora"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6" :xs="12">
            <el-form-item label="Área" prop="area_id">
              <el-select v-model="item.area_id" placeholder="Área que o curso pertence">
                <el-option
                  v-for="item in areas"
                  :key="item.id"
                  :label="item.descricao"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'curso'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      descricao: '',
      dataVigenciaInicial: '',
      dataVigenciaFinal: '',
      area_id: ''
    },
    rules: {
      descricao: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      // dataVigenciaInicial: [
      //   { type: 'date', required: false, message: 'Campo obrigatório', trigger: 'change' }
      // ],
      area_id: [
        { required: true, message: 'Campo obrigatório' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      areas: `area/items`
    })
  },
  created() {
    this.findAreas()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findAreas: `area/find`
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';
</style>
