<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"
      >Salvar</el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <!-- <el-row>
          <el-col :span="24">
            <el-form-item label="Id" prop="id">
              <el-input v-model="item.id" placeholder="ID"/>
            </el-form-item>
          </el-col>
        </el-row>-->
        <el-row>
          <el-col :span="8">
            <el-form-item label="Quantidade Máxima de Vídeo" prop="quantidadeMaximaVideo">
              <el-input
                v-model="item.quantidadeMaximaVideo"
                placeholder="Quantidade Máxima de Vídeo"
                type="number"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-col :span="16">
          <el-form-item
            prop="dataVigenciaInicial"
            label-width="200px"
            label="Data vigencia inicial:"
            class="postInfo-container-item"
          >
            <el-date-picker
              v-model="item.dataVigenciaInicial"
              type="date"
              format="yyyy-MM-dd"
              placeholder="Selecione data e hora"
            />
          </el-form-item>
        </el-col>
        <el-col :span="16">
          <el-form-item
            label-width="200px"
            label="Data vigencia final:"
            class="postInfo-container-item"
          >
            <el-date-picker
              v-model="item.dataVigenciaFinal"
              type="date"
              format="yyyy-MM-dd"
              placeholder="Selecione data e hora"
            />
          </el-form-item>
        </el-col>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'videoQuantidadeMaxima'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      quantidadeMaximaVideo: '',
      dataVigenciaInicial: '',
      dataVigenciaFinal: ''
    },
    rules: {
      quantidadeMaximaVideo: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      dataVigenciaInicial: [
        { required: true, message: 'Campo obrigatório.' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({})
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({})
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';
</style>
