<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"
      >Salvar</el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row>
          <el-col :span="18">
            <el-form-item label="Nome" prop="nome">
              <el-input v-model="item.nome" placeholder="nome"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xs="24" :md="12">
            <el-form-item label="Cidade" prop="cidade_id">
              <cidade-search :initial-value="item.cidade_id" @change="cidadeChange"/>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import CidadeSearch from '@/modules/cidade/components/Search.vue'
const MODULE_NAME = 'sede'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  components: { CidadeSearch },
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      cidade_id: ''
    },
    rules: {
      nome: [{ required: true, message: 'Campo obrigatório.' }],
      cidade_id: [{ required: true, message: 'Campo obrigatório.' }]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      cidades: `cidade/items`
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
    }),
    cidadeChange(id) {
      this.item.cidade_id = id
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';
</style>
