<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :fields="['id', 'nome', 'estado_uf']"/>
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>
