<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"> Salvar
      </el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row>
          <el-col :span="4" >
            <el-form-item label="Código" prop="codigo">
              <el-input-number v-model="item.codigo" placeholder="Código País"/>
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="1">
            <el-form-item label="Abreviação" prop="reduzido">
              <el-input v-model="item.reduzido" placeholder="Código Abreviado do País"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-col :span="12">
          <el-form-item label="Nome" prop="nome">
            <el-input v-model="item.nome" placeholder="Nome do País"/>
          </el-form-item>
        </el-col>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'pais'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      reduzido: '',
      codigo: ''
    },
    rules: {
      nome: [
        { required: true, min: 1, max: 45, message: 'Campo obrigatório' }
      ],
      reduzido: [
        { required: true, min: 1, max: 2, message: 'Campo obrigatório.' }
      ],
      codigo: [
        { required: true, message: 'Campo obrigatório.' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
