<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submitUF"> Salvar
      </el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <!-- <el-row>
          <el-col :span="24">
            <el-form-item label="Id" prop="id">
              <el-input v-model="item.id" placeholder="ID"/>
            </el-form-item>
          </el-col>
        </el-row> -->
        <el-row>
          <el-col :span="8">
            <el-form-item label="UF" prop="uf">
              <el-input-number v-model="item.uf" placeholder="UF Estado"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16">
            <el-form-item label="Nome" prop="nome">
              <el-input v-model="item.nome" placeholder="Nome Estado"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xs="24" :md="12">
            <el-form-item label="Paises" prop="pais_id">
              <el-select v-model="item.pais_id" placeholder="Selecionar">
                <el-option
                  v-for="item in paises"
                  :key="item.id"
                  :label="item.nome"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'uf'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      uf: '',
      nome: '',
      pais_id: ''
    },
    rules: {
      uf: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      nome: [
        { required: true, message: 'Campo obrigatório' }
      ],
      pais_id: [
        { required: true, message: 'Campo obrigatório' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      paises: 'pais/items'
    })
  },
  created() {
    this.findPaises()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .then(() => console.log(this.item))
        .catch((alert))
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findPaises: 'pais/find',
      upsertUF: 'uf/upsertUF'
    }),
    submitUF() {
      this.$refs['dataForm'].clearValidate()
      this.$refs['dataForm'].validate(valid => {
        if (valid) {
          this.upsertUF(this.item)
            .then(() => this.$notify({ title: 'Item atualizado', message: 'OK', type: 'success', duration: 2000 }))
            .then(() => this.$router.go(-1))
            .catch((err) => this.$notify({ title: 'Ocorreu um erro', message: err, type: 'error', duration: 2000 }))
        } else {
          this.$notify({ title: 'Revise os campos', message: 'Erro na validacao', type: 'error', duration: 2000 })
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
