<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submitPaginated"
      >Salvar</el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <!-- <el-row>
          <el-col :span="24">
            <el-form-item label="Id" prop="id">
              <el-input v-model="item.id" placeholder="ID"/>
            </el-form-item>
          </el-col>
        </el-row>-->
        <!-- <el-row>
          <el-col :span="8">
            <el-form-item label="ID" prop="id">
              <el-input v-model="item.id" disabled placeholder="UF Estado"/>
            </el-form-item>
          </el-col>
        </el-row>-->
        <el-col :span="16">
          <el-form-item label="Status" prop="status">
            <el-input v-model="item.status" placeholder="Status"/>
          </el-form-item>
        </el-col>
        <el-col :span="16">
          <el-form-item label="Nome Fantasia" prop="nomeFantasia">
            <el-input v-model="item.nomeFantasia" placeholder="Nome Fantasia"/>
          </el-form-item>
        </el-col>
        <el-col :span="16">
          <el-form-item label="Nome Funcionarios" prop="numeroFuncionarios">
            <el-input v-model="item.numeroFuncionarios" placeholder="Numero Funcionarios"/>
          </el-form-item>
        </el-col>
        <el-col :span="16">
          <el-form-item label="Pessoa id" prop="pessoa_id">
            <el-input v-model="item.pessoa_id" placeholder="Pessoa id"/>
          </el-form-item>
        </el-col>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'industria'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      status: '',
      nomeFantasia: '',
      numeroFuncionarios: '',
      pessoa_id: undefined
    }
    // rules: {
    //   descricao: [
    //     { required: true, message: 'Campo obrigatório.' }
    //   ],
    //   status: [
    //     { required: true, message: 'Campo obrigatório.' }
    //   ]
    // }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
