<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <el-button type="danger" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submitPaginated"> Salvar
      </el-button>
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row>
          <el-col :span="16">
            <el-form-item label="Nome" prop="nome">
              <el-input v-model="item.nome" placeholder="Nome Conteúdo"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16">
            <el-form-item
              prop="dataVigenciaInicial"
              label-width="200px"
              label="Data vigencia inicial:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaInicial"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione data e hora"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16">
            <el-form-item
              label-width="200px"
              label="Data vigencia final:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaFinal"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione data e hora"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6" :xs="12">
            <el-form-item label="Curso" prop="curso_id">
              <el-select v-model="item.curso_id" placeholder="Curso que o conteúdo pertence">
                <el-option
                  v-for="item in cursoList"
                  :key="item.id"
                  :label="item.descricao"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'conteudo'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      dataVigenciaInicial: '',
      dataVigenciaFinal: '',
      curso_id: ''
    },
    rules: {
      nome: [
        { required: true, message: 'Campo obrigatório.' }
      ],
      dataVigenciaInicial: [
        { required: true, message: 'Campo obrigatório' }
      ],
      curso_id: [
        { required: true, message: 'Campo obrigatório' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      cursoList: `curso/items`
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findCursos: `curso/find`
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
