<template>
  <div>
    <el-button
      class="filter-item"
      style="margin-left: 0px; margin-bottom: 20px"
      type="success"
      icon="el-icon-edit"
      @click="$router.push(`new`)"
    >Novo</el-button>
    <hr>
    <el-row>
      <el-input
        v-model="query"
        placeholder="Pesquisar"
        style="width: 400px;"
        class="filter-item"
        @keyup.enter.native="handleSearch"
      />
      <el-button
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleSearch"
      >Pesquisar</el-button>
    </el-row>
    <h3> Exibindo de {{ from }} a {{ to }} do total de {{ total }}</h3>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field"
        :label="field"
        :prop="field"
        sortable="custom"
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ scope.row[field] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Manutenção"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">editar</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.row)">remover</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
  </div>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'conteudo'
const crudStore = crudHelper(MODULE_NAME)

export default {
  props: ['fields'],
  data() {
    return {
      page: 1,
      query: ''
    }
  },
  computed: {
    ...crudStore.computed
  },
  created() {
    this.findPaginated({ page: this.page })
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    handlePageChange(page) {
      this.page = page
      this.findPaginated({ page, nome: this.query })
    },
    handleSearch() {
      this.page = 1
      this.findPaginated({ page: 1, nome: this.query })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
