<template>
  <el-select
    v-model="selected"
    :remote-method="remoteMethod"
    :loading="loading"
    filterable
    remote
    reserve-keyword
    placeholder="Pesquise um conteudo"
    @change="$emit('change', selected)"
  >
    <el-option
      v-for="item in results"
      :key="item.id"
      :label="item.descricao"
      :value="item.id"
    />
  </el-select>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: ['initialValue'],
  data() {
    return {
      selected: {},
      results: []
    }
  },
  computed: {
    ...mapGetters({
      loading: 'conteudo/loading',
    })
  },
  watch: {
    initialValue() {
      if (this.initialValue && !this.results.length) {
        this.select({ id: this.initialValue })
          .then(item => {
            console.log(item)
            this.results.push({ id: item.data.id, descricao: item.data.nome })
          })
      }
    }
  },
  methods: {
    ...mapActions({
      search: 'conteudo/search',
      select: 'conteudo/select'
    }),
    remoteMethod(nome) {
      if (nome !== '' && nome.length > 2) {
        this.search({ nome })
          .then((results) => { this.results = results })
      } else {
        this.results = []
      }
    }
  }
}
</script>

