<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <!-- <list-table :fields="['id', 'descricao', 'necessidade', 'status', 'numeroProfissionais', 'localCurso', 'industria_pessoa_id', 'totalValorAulas']"/> -->
    <list-table
      :fields="[
        { label: 'Id', value: 'id' },
        { label: 'Data', value: '' },
        { label: 'Necessidade', value: 'necessidade' }
      ]"
    />
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>

