<template>
  <el-select
    v-model="selected"
    :remote-method="remoteMethod"
    :loading="loading"
    filterable
    remote
    reserve-keyword
    placeholder="Pesquise uma industria"
    @change="$emit('change', selected)"
  >
    <el-option
      v-for="item in results"
      :key="item.id"
      :label="item.descricao"
      :value="item.id"
    />
  </el-select>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      selected: {},
      results: []
    }
  },
  computed: {
    ...mapGetters({
      loading: 'industria/loading'
    })
  },
  methods: {
    ...mapActions({
      search: 'industria/search'
    }),
    remoteMethod(nome) {
      if (nome !== '' && nome.length > 2) {
        this.search({ nome })
          .then((results) => { this.results = results })
      } else {
        this.results = []
      }
    }
  }
}
</script>

