<template>
  <div>
    <search :fields="searchFields" @search="handleSearch"/>
    <!-- <el-button
      class="filter-item"
      style="margin-left: 0px; margin-bottom: 20px"
      type="success"
      icon="el-icon-edit"
      @click="$router.push(`new`)"> Novo
    </el-button> -->
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.value"
        :label="field.label"
        :prop="field.value"
        sortable="custom"
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ scope.row[field.value] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="PDF"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <!-- <el-button
            type="primary"
            size="mini"
            @click="handleUpdate(scope.row)"
          >PDF</el-button> -->
          <a :href="generatePdf(scope.row)" target="blank">
            <i class="el-icon-document"/>
          </a>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import Search from '@/modules/_common/components/Search.vue'

const MODULE_NAME = 'proposta'
const crudStore = crudHelper(MODULE_NAME)

export default {
  components: { Search },
  props: ['fields'],
  data: () => ({
    searchFields: [
      { value: 'industry', label: 'Industria' },
      { value: 'vendor', label: 'Vendedor' },
      { value: 'manager', label: 'Gerente' }
    ]
  }),
  computed: {
    ...crudStore.computed
  },
  created() {
    this.find()
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    handleSearch(query) {
      this.params(query)
    },
    generatePdf(itemId) {
      return `http://ec2-18-228-189-213.sa-east-1.compute.amazonaws.com:8000/api/v1/proposta/export-pdf/${itemId.id}`
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
