<template>
  <el-card :body-style="{ padding: '20px' }">
    <span style="font-size: 16px;"> Destalhes </span>
    <div class="text"> Codigo:  {{ exoSelected.id }} </div>
    <div class="text"> Modelo: {{ exoSelected.model }} </div>
    <div class="text"> Ultimo usuario: {{ exoSelected.lastUser }} </div>
    <div class="text"> Horimetro: {{ exoSelected.horimetre }} </div>
    <div class="text"> Horas de inspecao: {{ exoSelected.inspectionHours }} </div>
    <div class="text"> Lista de dispositivos:  </div>

    <el-collapse v-model="activeNames" accordion @change="handleChange">
      <el-collapse-item title="Device 1" name="1">
        <div>Consistent with real life: in line with the process and logic of real life, and comply with languages and habits that the users are used to;</div>
      </el-collapse-item>
      <el-collapse-item title="Device 2" name="2">
        <div>Operation feedback: enable the users to clearly perceive their operations by style updates and interactive effects;</div>
      </el-collapse-item>
      <el-collapse-item title="Device 3" name="3">
        <div>Simplify the process: keep operating process simple and intuitive;</div>
        <div>Definite and clear: enunciate your intentions clearly so that the users can quickly understand and make decisions;</div>
      </el-collapse-item>
      <el-collapse-item title="Device 4" name="4">
        <div>Decision making: giving advices about operations is acceptable, but do not make decisions for the users;</div>
      </el-collapse-item>
    </el-collapse>
  </el-card>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      activeNames: ['1']
    }
  },
  computed: {
    ...mapGetters([
      'exoSelected'
    ])
  },
  methods: {
    handleChange(val) {
      console.log(val)
    }
  }
}
</script>
<style scoped>
  .text {
    font-size: 12px;
  }
</style>

