<template>
  <div class="login-container">
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on" label-position="left">
      <!-- <h3 class="title">{{ low }}</h3> -->
      <el-form-item prop="username">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input v-mask="['###.###.###-##', '##.###.###/####-##']" ref="loginInput" v-model="loginForm.username" name="username" type="text" pattern="^(?=[0-9\.\/\-]).{14,18}$" inputmode="numeric" autocomplete="on" autofocus="true" placeholder="Digite seu CPF."/>
      </el-form-item>
      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input
          :type="pwdType"
          v-model="loginForm.password"
          name="password"
          placeholder="Digite sua senha."
          @keyup.enter.native="handleLogin" />
        <span :class="{ 'hide-pwd' : !pwdVisible }" class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye-open"/>
        </span>
      </el-form-item>
      <el-form-item>
        <el-button :loading="$auth.loading" type="primary" style="width:100%;" @click.native.prevent="handleLogin">
          Entrar
        </el-button>
      </el-form-item>
      <!-- el-form-item>
        <el-button :loading="$auth.loading" type="primary" style="width:100%;" @click.native.prevent="handleGoogleLogin">
          Google Sign in
        </el-button>
      </el-form-item -->
      <!-- <div class="tips">
        <span style="margin-right:20px;">username: admin</span>
        <span> password: admin</span>
      </div> -->
    </el-form>
  </div>
</template>

<script>
// import { isvalidUsername } from '@/utils/validate'
// import { mapActions } from 'vuex'

import { mask } from 'vue-the-mask'

export default {
  name: 'Login',
  directives: { mask },
  data() {
    const validateUsername = (rule, value, callback) => {
      if (value.length === 14 || value.length === 18) {
        callback()
      } else {
        callback(new Error('Erro na digitação do seu CPF.'))
      }
    }
    const validatePass = (rule, value, callback) => {
      if (value.length < 1) {
        callback(new Error('Erro na digitação da sua senha.'))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        username: '',
        password: ''
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePass }]
      },
      loading: false,
      pwdType: 'password',
      redirect: undefined
    }
  },
  computed: {
    unmaskedLoginForm() {
      const loginUnmasked = {
        username: this.loginForm.username.split('.').join('').split('-').join('').split('/').join(''),
        password: this.loginForm.password
      }
      return loginUnmasked
    },
    pwdVisible() {
      if (this.pwdType === '') {
        return false
      } else {
        return true
      }
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },
  methods: {
    // ...mapActions({
    //   signInWithEmailAndPassword: 'auth/signInWithEmailAndPassword',
    //   signInWithGoogle: 'auth/signInWithGoogle'
    // }),
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = ''
      } else {
        this.pwdType = 'password'
      }
    },
    // handleGoogleLogin() {
    //   this.$auth
    //     .signInWithGoogle()
    //     .then(user => this.$router.push({ path: this.redirect || '/' }))
    //     .catch(alert)
    // },
    handleLogin() {
      // this.$auth.signInWithEmailAndPassword({ email: 'asdasd', password: '' })
      // this.$auth.actions.signInWithEmailAndPassword({ email: 'asd', password: '' })
      // this.signInWithEmailAndPassword({ email: 'asd', password: ''})
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('Login', this.unmaskedLoginForm)
            .then(() => {
              this.loading = false
              this.$router.push({ path: this.redirect || '/' })
            })
            .catch(() => {
              this.loading = false
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
$bg:#2d3a4b;
$light_gray:#eee;

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 100%;
    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 6px 12px 3rem;
      color: $light_gray;
      height: 47px;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}

</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;
.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $bg;
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 520px;
    max-width: 100%;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
  }
  .el-form-item.is-error {
    border-color: #f56c6c;
  }
  .el-form-item.is-success {
    border-color: #409EFF;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  .svg-container {
    padding: 0 0 0 16px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    min-height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    pointer-events: none;
  }
  .title {
    font-size: 26px;
    font-weight: 400;
    color: $light_gray;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
    transition: transform 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940), color 150ms linear;
  }
  .hide-pwd{
    transform: scale(1.25);
    color: #409EFF;
    transition: transform 75ms cubic-bezier(0.250, 0.460, 0.450, 0.940), color 150ms linear;
  }
}
</style>
